<!DOCTYPE html>
<html style="height: 100%; overflow-y: hidden;">
<head>
	<title>Admin</title>
	<link rel="stylesheet" href="index.css">
</head>
<body class="w3-padding" style="height: 100%;">
	<style type="text/css">
		/* width */
		::-webkit-scrollbar {
		  width: 6px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		  background: #f1f1f1; 
		  border-radius: 3px 3px 3px 3px;
		}
		 
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #888; 
		  border-radius: 3px 3px 3px 3px;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: #555; 
		}
	</style>
	<script type="text/javascript" src="admin.js"></script>
</body>
</html>