<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/lib/w3.css">
    <link rel="stylesheet" href="/stylesheets/lib/all.css">

    <script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
</head>
<body>
	<h1>Gestionnaire de programmes <span class="w3-small">Mode admin</span></h1>
	<div class="w3-col m4">
		<ul id="menu" class="w3-ul w3-xlarge">
			<li id="menu0" data-index="0">
				<i class="fas fa-clipboard-check"></i>
				Gestion des modifications			
			</li>
			<li id="menu1" data-index="1">
				<i class="far fa-copy"></i>
				Gestion des copies
			</li>
			<li id="menu2" data-index="2">
				<i class="far fa-folder-open"></i>
				Gestion des chemins
			</li>
		</ul>		
	</div>


	<div class="w3-col m7 w3-border w3-padding  w3-margin w3-round">
		

		<!--GESTION DES MODIFICATIONS-->
		<div id="content0" class="content w3-hide w3-padding">

			<span class="w3-xlarge">
				<i class="fas fa-clipboard-check"></i>
				Gestion des modifications
			</span><br>

			<span id="numberValidation" class="w3-small">Pas de validation en attente</span>
			<br><br>

			<ul id="pulls" class="w3-ul"></ul>
			

		</div>


		<!--GESTION DES COPIES-->
		<div id="content1" class="content w3-hide w3-padding">

			<span class="w3-xlarge">
				<i class="far fa-copy"></i>
				Gestion des copies
			</span><br><br><br>
			Gestion des copies

		</div>


		<!--GESTION DES CHEMINS-->
		<div id="content2" class="content w3-hide w3-padding">

			<span class="w3-xlarge">
				<i class="far fa-folder-open"></i>
				Gestion des chemins
			</span><br><br><br>

			<i class="far fa-clipboard w3-xlarge w3-left"></i>
			<input id="pathmaster" type="text" name="pathmaster" class="pathinput w3-input"><br><br>

			<i class="far fa-copy w3-xlarge w3-left"></i>
			<input id="pathcopy" type="text" name="pathmaster" class="pathinput w3-input"><br><br>

			<i class="fas fa-clipboard-check w3-xlarge w3-left"></i>
			<input id="pathpull" type="text" name="pathmaster" class="pathinput w3-input"><br><br>

			<i class="fas fa-history w3-xlarge w3-left"></i>
			<input id="pathbackup" type="text" name="pathmaster" class="pathinput w3-input"><br><br>

			<input id="save" type="submit" name="save" value="Sauvegarder" class="w3-button w3-right w3-border w3-round">
		</div>

	</div>

    <a href="/">
      <i class="fas fa-home w3-xlarge w3-display-bottomleft w3-margin"></i>
    </a>


	<style type="text/css">
		html {
			overflow-y: hidden;
		}
		body {
		  padding: 50px;
		  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		  
		}

		#menu li {
			cursor: pointer;
		}

		.pathinput {
			width: 90%;
			margin-left: 35px;
		}

		.acceptpull {
			border: solid 2px #4CAF50;
			color: #4CAF50;
		}

		.removepull {
			border: solid 2px #F44336;
			color: #F44336;
		}

		.fa-home:hover {
			transform: rotate(-10deg);
		}

	</style>

</body>
</html>