<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/lib/w3.css">
    <link rel="stylesheet" href="/stylesheets/lib/all.css">
    <link rel='stylesheet' href='/stylesheets/admin.css'>

    <script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script></head>
<body>

	<i class="far fa-clipboard w3-xlarge"></i>
	<input id="pathmaster" type="text" name="pathmaster" class="pathinput"><br><br>

	<i class="far fa-copy w3-xlarge"></i>
	<input id="pathcopy" type="text" name="pathmaster" class="pathinput"><br><br>

	<i class="fas fa-clipboard-check w3-xlarge"></i>
	<input id="pathpull" type="text" name="pathmaster" class="pathinput"><br><br>

	<i class="fas fa-history w3-xlarge"></i>
	<input id="pathbackup" type="text" name="pathmaster" class="pathinput"><br><br>

	<input id="save" type="submit" name="save" value="Sauvegarder">

</body>
</html>