<!DOCTYPE html>
<html>
  <head>
    <title>Gestionnaire de programmes</title>
    <link rel="stylesheet" href="/stylesheets/lib/w3.css">
    <link rel="stylesheet" href="/stylesheets/lib/all.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
  	<h1>Gestionnaire de programmes</h1>
  	<input type="search" name="search" placeholder="Recherche" class="w3-input m6 w3-col">
  	<div class="w3-row">

  		<div class="w3-col w3-padding m3">
        <span class="w3-xlarge">
          <i id="openaddmaster" class="far fa-clipboard"></i>
          Masters
        </span>
  			<ul id="masters" class="w3-ul"></ul> 
  		</div>

  		<div class="w3-col w3-padding m3">
  	 		<span class="w3-xlarge">
          <i class="far fa-copy"></i>
          Copies
        </span>
  			<ul id="copies" class="w3-ul"></ul> 			
  		</div>

  		<div id="viewer" class="w3-col m6">
        <object id="pdfViewer" width="780px" height="600px" data=""></object> 
      </div>
  	</div>

    <form enctype="multipart/form-data">
      <input id="selectfolder" name="selectfolder" type="file" webkitdirectory directory multiple class="w3-hide"/>
    </form>
    <a href="/admin">
      <i class="fas fa-cog w3-xlarge w3-display-bottomleft w3-margin"></i>
    </a>

  </body>
</html>
