body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

li, #openaddmaster{
	cursor: pointer;
}

li:hover{
	border-left: 3px solid grey ;
}

li i:hover, #openaddmaster:hover, a>i:hover{
	transform: scale(1.2);
}

.fa-plus{
	cursor: pointer;
}