html {
	overflow-y: hidden;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

li, #openaddmaster, .toogleList, #closeChoiceCopySection, #CreateCopySection{
	cursor: pointer;
}

li:hover{
	border-left: 3px solid grey ;
}

li i:hover, #openaddmaster:hover, .toogleList:hover, #closeChoiceCopySection:hover{
	transform: scale(1.2);
}

.fa-cog:hover {
	transform: rotate(20deg);
}

#CreateCopySection:hover{
	transform: scale(1.1);
}

.fa-plus{
	cursor: pointer;
}